---
---

<div class="stack card gap-size-2 items-center p-size-2">
  <div class="frame rounded-full">
    <img src="https://picsum.photos/100/100" alt="" />
  </div>
  <h3>Aliquam Tinci</h3>
  <p>
    Morbi in sem quis dui placerat ornare lorem pellentesque odio nisi sed
    euismod. In tempus posuere augue eu magna adipiscing.
  </p>
</div>

<style>
  .card {
    border: 3px var(--color-dark) solid;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .frame {
    --width: 1;
    --height: 1;
  }
</style>
