---
---

<div class="cover">
  <header class="cluster justify-between p-size-0 gap-size-5">
    <a href="#">Logo Link</a>
    <nav>
      <ul class="cluster gap-size-3">
        <li><a href="#">Home</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#">Elements</a></li>
      </ul>
    </nav>
  </header>
  <div class="cover-center stack items-center gap-size-1">
    <h1>Lorem Ipsum Dolor</h1>
    <p>Sed lorem consequat feugiat</p>
    <a href="#" class="button-primary">Magna Sed Etiam</a>
  </div>
</div>

<style>
  .cover {
    min-block-size: clamp(25rem, 70vw, 45rem);
    color: var(--clr-neutral-100);
    background-color: var(--clr-blue);
  }

  p {
    color: var(--clr-red-400);
    font-size: var(--size-1);
  }

  header {
    margin-block-end: var(--size-1);
  }

  header a {
    color: var(--clr-neutral-100);
    font-weight: bold;
    text-decoration: none;
  }
</style>
