---
export interface Props {
  sidebarWidth: string;
  notSidebarMinSize: string;
  sidebarRight: boolean;
  className: string;
}

const {
  sidebarWidth = "auto",
  notSidebarMinSize = "66.666%",
  sidebarRight = false,
  className = "",
} = Astro.props;

const flexDirection = sidebarRight ? "row-reverse" : "row";
---

<div class={`has-sidebar ${className}`}>
  <div class="sidebar">
    <slot name="sidebar" />
  </div>
  <div class="not-sidebar">
    <slot name="not-sidebar" />
  </div>
</div>

<style define:vars={{ sidebarWidth, notSidebarMinSize, flexDirection }}>
  .has-sidebar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: var(--flexDirection);
  }

  .sidebar {
    flex-basis: var(--sidebarWidth);
    flex-grow: 1;
  }

  .not-sidebar {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: var(--notSidebarMinSize);
  }
</style>
