---
export interface Props {
  className: string;
}

const { className = "" } = Astro.props;
---

<div class={`stack ${className}`}>
  <slot />
</div>

<style>
  .stack {
    display: flex;
    flex-direction: column;
  }

  .stack :global(> .split-after) {
    margin-block-end: auto;
  }
</style>
