---
export interface Props {
  idealWidth: string;
  minWidth: string;
  maxWidth: string;
  gutter: string;
  className: string;
}

const {
  idealWidth = "90vw",
  minWidth = "16rem",
  maxWidth = "70rem",
  gutter = "var(--space-size-1)",
  className = "",
} = Astro.props;
---

<div class={`wrapper ${className}`}>
  <slot />
</div>

<style define:vars={{ idealWidth, minWidth, maxWidth, gutter }}>
  .wrapper {
    width: var(--idealWidth); /* in case clamp() isn't supported */
    width: clamp(var(--minWidth), var(--idealWidth), var(--maxWidth));
    margin-inline: auto;
    padding-inline: var(--gutter);
    position: relative;
  }
</style>
