---
import Layout from "../../layouts/Layout.astro";
import "./style.css";
---

<Layout>
  <main>
    <p>This is the test page, I want to try out postcss.</p>
    <div class="card">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus sint
        commodi nemo. Explicabo magnam quo accusantium quas iusto quae
        perspiciatis impedit, odit dicta illum dolore labore sit fugit vel
        recusandae?
      </p>
    </div>
  </main>
</Layout>
