.wrapper {
  --ideal-width: 90vw;
  --max-width: 70rem;
  --min-width: 16rem;

  width: var(--ideal-width);
  width: clamp(var(--min-width), var(--idealWidth), var(--max-width));
  margin-inline: auto;
  /* padding-inline: var(--size-1); */
  position: relative;
}

.stack {
  display: flex;
  flex-direction: column;
  /* gap: var(--size-1); */
}

.stack > .split-after {
  margin-block-end: auto;
}

.flow > * + * {
  --flow-space: var(--size-1);
  margin-block-start: var(--flow-space);
}

.center {
  --max-inline-size: 75ch;

  box-sizing: content-box;
  /* padding-inline: var(--size-1); */
  margin-inline: auto;
  max-inline-size: var(--max-inline-size);
}

.center-xy {
  display: grid;
  place-items: center;
  min-block-size: 100vh;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  /* gap: var(--size-1); */
}

.has-sidebar {
  display: flex;
  flex-wrap: wrap;
  /* gap: var(--size-1); */
}

.sidebar {
  --sidebar-basis: 0;

  flex-basis: var(--sidebar-basis);
  flex-grow: 1;
}

.not-sidebar {
  --not-sidebar-min-width: 66%;

  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--not-sidebar-min-width);
}

.switcher {
  --threshold: 30rem;

  display: flex;
  flex-wrap: wrap;
  /* gap: var(--size-1); */
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--threshold) - 100%) * 999);
}

.switcher > :nth-last-child(n + 5),
.switcher > :nth-last-child(n + 5) ~ * {
  flex-basis: 100%;
}

.cover {
  --cover-height: 100vh;

  display: flex;
  flex-direction: column;
  /* gap: var(--size-1); */
  /* padding: var(--size-1); */
  min-block-size: var(--cover-height);
}

.cover > .cover-center {
  margin-block: auto;
}

.grid {
  --grid-min-width: 20rem;

  display: grid;
  /* gap: var(--size-1); */
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--grid-min-width), 100%), 1fr)
  );
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  /* gap: var(--size-1); */
}

.flex-grid > * {
  flex: 1;
}

.frame {
  --width: 16; /* numerator */
  --height: 9; /* denominator */

  aspect-ratio: var(--width) / var(--height);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame > img,
.frame > video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.reel {
  --reel-item-width: 30%;
  --reel-item-gap: var(--size-1);

  display: grid;
  gap: var(--reel-item-gap);
  grid-auto-flow: column;
  grid-auto-columns: var(--reel-item-width);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: var(--reel-item-gap);
}

.reel > * {
  scroll-snap-align: start;
}

.icon {
  height: 0.75em;
  height: 1cap;
  width: 0.75em;
  width: 1cap;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
