---
import Layout from "./layouts/Layout.astro";
import Section from "./components/Section.astro";
import Card from "./components/Card.astro";
import LinkCard from "./components/LinkCard.astro";
import Contact from "./components/Contact.astro";
import Hero from "./components/Hero.astro";
---

<Layout title="Welcome to my page.">
  <Hero />
  <main>
    <Section style="style-1">
      <h2 class="center">Magna Feugiat</h2>
      <p class="center text-center">
        Aliquet ante lobortis non semper gravida. Accumsan faucibus praesent
        ante aliquet amet posuere ac cubilia. Eu faucibus mi neque adipiscing mi
        lorem. Semper blandit. Amet adipiscing interdum.
      </p>
      <div class="switcher gap-size-3" style="--threshold: 900px">
        <Card />
        <Card />
        <Card />
      </div>
    </Section>
    <Section style="style-2">
      <h2 class="center">Magna Feugiat</h2>
      <p class="center text-center">
        Aliquet ante lobortis non semper gravida. Accumsan faucibus praesent
        ante aliquet amet posuere ac cubilia. Eu faucibus mi neque adipiscing mi
        lorem. Semper blandit. Amet adipiscing interdum.
      </p>
      <div class="grid gap-size-3" style="--grid-min-width: 400px">
        <Card />
        <Card />
        <Card />
        <Card />
      </div>
    </Section>
    <Section style="style-3">
      <h2 class="center">Magna Feugiat</h2>
      <p class="center text-center">
        Aliquet ante lobortis non semper gravida. Accumsan faucibus praesent
        ante aliquet amet posuere ac cubilia. Eu faucibus mi neque adipiscing mi
        lorem. Semper blandit. Amet adipiscing interdum.
      </p>
      <div class="switcher gap-size-3" style="--threshold: 900px">
        <LinkCard />
        <LinkCard />
        <LinkCard />
      </div>
    </Section>
    <Section style="style-1">
      <h2 class="center">Contact</h2>
      <p class="center text-center">
        Aliquet ante lobortis non semper gravida. Accumsan faucibus praesent
        ante aliquet amet posuere ac cubilia. Eu faucibus mi neque adipiscing mi
        lorem. Semper blandit. Amet adipiscing interdum.
      </p>
      <Contact />
    </Section>
  </main>
  <footer>
    <div class="center">
      <div class="cluster gap-size-1 justify-center">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
      </div>
      <p class="text-center">Copyright ME!</p>
    </div>
  </footer>
</Layout>

<style>
  footer {
    background-color: var(--clr-neutral-300);
    padding-block-start: var(--size-3);
    padding-block-end: var(--size-4);
  }

  .grid {
    max-inline-size: 900px;
    margin-inline: auto;
  }
</style>
