---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to my page.">
  <main>
    <Section style="style-1">
      <h2>Magna Feugiat</h2>
      <p>
        Aliquet ante lobortis non semper gravida. Accumsan faucibus praesent
        ante aliquet amet posuere ac cubilia. Eu faucibus mi neque adipiscing mi
        lorem. Semper blandit. Amet adipiscing interdum.
      </p>
      <div class="switcher">
        <Card />
        <Card />
        <Card />
      </div>
    </Section>
    <Section style="style-2">
      <h2>Magna Feugiat</h2>
      <p>
        Aliquet ante lobortis non semper gravida. Accumsan faucibus praesent
        ante aliquet amet posuere ac cubilia. Eu faucibus mi neque adipiscing mi
        lorem. Semper blandit. Amet adipiscing interdum.
      </p>
      <div class="grid">
        <Card />
        <Card />
        <Card />
        <Card />
      </div>
    </Section>
  </main>
</Layout>
