---
import Stack from "../components/Stack.astro";
import Layout from "../layouts/Layout.astro";
import Center from "../components/Center.astro";
import Flow from "../components/Flow.astro";
import Cluster from "../components/Cluster.astro";
import Sidebar from "../components/Sidebar.astro";
import Wrapper from "../components/Wrapper.astro";
import Switcher from "../components/Switcher.astro";
import Cover from "../components/Cover.astro";
import Grid from "../components/Grid.astro";
---

<Layout title="Welcom to my page.">
  <Wrapper>
    <Cover className="min-h-screen">
      <Cluster isList={true} slot="header">
        <li>thing</li>
        <li>thing</li>
        <li>thing</li>
        <li>thing</li>
      </Cluster>
      <h1 slot="center">What's crackin'?</h1>
      <Center slot="footer"><p>Andrew Klenner</p></Center>
    </Cover>
    <Sidebar sidebarWidth="20ch" className="gap-6">
      <Cluster slot="sidebar" className="gap-4 items-center justify-between">
        <p>Logo</p>
        <Switcher className="gap-4">
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
          <a href="#">Link</a>
        </Switcher>
      </Cluster>
      <Center slot="not-sidebar">
        <Flow>
          <h1>Welcome</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
            tempore est ipsam minus placeat eligendi aliquam, quibusdam, cum
            dolorum cumque odio aliquid odit reiciendis earum quam veniam
            consequuntur temporibus. Libero.
          </p>
          <h2>Here is an H2</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
            tempore est ipsam minus placeat eligendi aliquam, quibusdam, cum
            dolorum cumque odio aliquid odit reiciendis earum quam veniam
            consequuntur temporibus. Libero.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
            tempore est ipsam minus placeat eligendi aliquam, quibusdam, cum
            dolorum cumque odio aliquid odit reiciendis earum quam veniam
            consequuntur temporibus. Libero.
          </p>
          <h3>Here is an H3</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
            tempore est ipsam minus placeat eligendi aliquam, quibusdam, cum
            dolorum cumque odio aliquid odit reiciendis earum quam veniam
            consequuntur temporibus. Libero.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
            tempore est ipsam minus placeat eligendi aliquam, quibusdam, cum
            dolorum cumque odio aliquid odit reiciendis earum quam veniam
            consequuntur temporibus. Libero.
          </p>
          <Stack className="gap-2">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Explicabo tempore est ipsam minus placeat eligendi aliquam,
              quibusdam, cum dolorum cumque odio aliquid odit reiciendis earum
              quam veniam consequuntur temporibus. Libero.
            </p>
            <p class="split-after">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Explicabo tempore est ipsam minus placeat eligendi aliquam,
              quibusdam, cum dolorum cumque odio aliquid odit reiciendis earum
              quam veniam consequuntur temporibus. Libero.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Explicabo tempore est ipsam minus placeat eligendi aliquam,
              quibusdam, cum dolorum cumque odio aliquid odit reiciendis earum
              quam veniam consequuntur temporibus. Libero.
            </p>
          </Stack>
        </Flow>
      </Center>
    </Sidebar>
  </Wrapper>
</Layout>
