---
import Stack from "../components/Stack.astro";
import Layout from "../layouts/Layout.astro";
import Center from "../components/Center.astro";
import Flow from "../components/Flow.astro";
import Cluster from "../components/Cluster.astro";
import Sidebar from "../components/Sidebar.astro";
import Wrapper from "../components/Wrapper.astro";
---

<Layout title="Welcome to my Ass.">
  <Wrapper>
    <Sidebar sidebarWidth="20ch">
      <Cluster isList={true} slot="sidebar">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
      </Cluster>
      <Center slot="not-sidebar">
        <Flow>
          <h1>Welcome</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
            tempore est ipsam minus placeat eligendi aliquam, quibusdam, cum
            dolorum cumque odio aliquid odit reiciendis earum quam veniam
            consequuntur temporibus. Libero.
          </p>
          <h2>Here is an H2</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
            tempore est ipsam minus placeat eligendi aliquam, quibusdam, cum
            dolorum cumque odio aliquid odit reiciendis earum quam veniam
            consequuntur temporibus. Libero.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
            tempore est ipsam minus placeat eligendi aliquam, quibusdam, cum
            dolorum cumque odio aliquid odit reiciendis earum quam veniam
            consequuntur temporibus. Libero.
          </p>
          <h3>Here is an H3</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
            tempore est ipsam minus placeat eligendi aliquam, quibusdam, cum
            dolorum cumque odio aliquid odit reiciendis earum quam veniam
            consequuntur temporibus. Libero.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo
            tempore est ipsam minus placeat eligendi aliquam, quibusdam, cum
            dolorum cumque odio aliquid odit reiciendis earum quam veniam
            consequuntur temporibus. Libero.
          </p>
          <Stack splitAfter={2}>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Explicabo tempore est ipsam minus placeat eligendi aliquam,
              quibusdam, cum dolorum cumque odio aliquid odit reiciendis earum
              quam veniam consequuntur temporibus. Libero.
            </p>
            <p class="split-after">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Explicabo tempore est ipsam minus placeat eligendi aliquam,
              quibusdam, cum dolorum cumque odio aliquid odit reiciendis earum
              quam veniam consequuntur temporibus. Libero.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Explicabo tempore est ipsam minus placeat eligendi aliquam,
              quibusdam, cum dolorum cumque odio aliquid odit reiciendis earum
              quam veniam consequuntur temporibus. Libero.
            </p>
          </Stack>
        </Flow>
      </Center>
    </Sidebar>
  </Wrapper>
</Layout>
