---
---

<div class="card stack gap-size-2">
  <div class="frame">
    <img src="https://picsum.photos/300" alt="" />
  </div>
  <h3>Etiam Interdum</h3>
  <p>
    Praesent dapibus, neque id cursus tortor magna etiam lorem neque egestas sed
    magna tempus.
  </p>
  <a class="button-neutral" href="#">Learn More</a>
</div>

<style>
  .card {
    align-items: center;
    text-align: center;
  }
</style>
