---
export interface Props {
  gap: string;
}

const { gap = "var(--space-size-1)" } = Astro.props;
---

<div class="stack">
  <slot />
</div>

<style define:vars={{ gap }}>
  .stack {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  .stack :global(.split-after) {
    margin-block-end: auto;
    background-color: black;
  }
</style>
